@import './base.css';

a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    filter: brightness(120%);
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

#app {
  display: flex;
  justify-content: center;
  width: 100%;
}
